.SideBar {
  width: 300px;
  height: 100vh;
  background-color: lightgreen;

  &__upper {       
    height: 100px;
    background-color: green;
    align-items: center;

    &__header {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__list {
        width: 200px;
        height: 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__userName {

        }

        &__icons {
          display: flex;

          .btn--edit {
            margin-right: 5px;
          }

          .btn--cog {

          }
        }

      }
    }
  }

  &__middle {
    height: calc(100vh - 100px - 90px);

    &__container {
      height: 65px;
    

      &__groupName {
        height: 20px;
        width: 200px;
        margin: 20px;
      }

      &__messageList {
        height: 20px;
        width: 200px;
        margin: 20px;
      }
    }
  }

  &__under {
    height: 90px;
    background-color: green;
  }

}
