.SideBar {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
}

.LeftHeader {
  background-color: #253141;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;

  &__list {
    width: 260px;
    height: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    p {
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
    }

    &__icon {
      width: 60px;
      height: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

      &__icon-cog {
        margin-left: 5px;
      }

        .content__btn {
          color: #ffffff;
        }
}

.GroupList {
  width: 260px;
  height: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  margin: 20px 20px 5px 20px;
}

.Group {
  width: 260px;
  height: 11px;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin: 5px 20px 0px 20px;
}